
/* Cocteles Page Styles */
#cocteles {
    background-color: #ffffff;
    padding: 41px 0;
}

.cocteles-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px; /* Ajusta el espacio horizontal */
}

.coctel-item {
    flex: 1 1 calc(33.333% - 40px); /* Tres columnas en pantallas grandes */
    /*max-width: 300px;*/
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
}

.coctel-item a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.coctel-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.coctel-item p {
    padding: 15px;
    font-family: 'Libre Bodoni', serif;
    color: #333;
    margin: 0;
}

.cocteles-gallery .coctel-item:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Mensaje de bienvenida o introducción */
.intro-message {
    background-color: #ffffff;
    /*padding: 40px 20px;*/
    text-align: center;
    /*margin-bottom: -10px;*/
    margin-bottom: 55px;
}

.intro-message h1 {
    font-family: 'Libre Bodoni', serif;
    color: #333;
    font-size: 2.5em;
    margin: 0;
    line-height: 1.2;
}

.intro-message p {
    font-family: 'Libre Bodoni', serif;
    color: #555;
    font-size: 1.2em;
    margin-top: 10px;
    line-height: 1.5;
}

/* Responsividad */
@media (max-width: 1024px) {
    .coctel-item {
        flex: 1 1 calc(50% - 40px); /* Dos columnas en pantallas medianas */
    }
}

@media (max-width: 768px) {
    .intro-message h1 {
        font-size: 2em;
    }

    .intro-message p {
        font-size: 1em;
    }

    .cocteles-gallery {
        flex-direction: column;
        align-items: center;
        gap: 20px; /* Espacio vertical en pantallas más pequeñas */
    }

    .coctel-item {
        flex: 1 1 100%; /* Una columna en pantallas pequeñas */
        max-width: 100%; /* Asegura que el ítem ocupe todo el ancho disponible */
        margin-bottom: 20px;
    }
}





/*.coctel-name {
    position: relative;
    font-family: 'Libre Bodoni', serif;
    color: #333;
    font-size: 1em; /* Tamaño del texto del nombre del cóctel */
/*}*/

.ver-mas {
    color: #007bff; /* Color azul para el enlace "Ver más" */
    font-weight: bold; /* Resaltar el texto "Ver más" */
    cursor: pointer; /* Cambia el cursor para indicar que es clicable */
}

.ver-mas:hover {
    text-decoration: underline; /* Subrayar el texto al pasar el mouse */
}

/* Asegúrate de que el texto "Ver más" no sobresalga del contenedor */
.coctel-item p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}





/* Modal Styles */
.coctel-modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Libre Bodoni', serif;
    justify-content: center;
    align-items: center;
}

.coctel-modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 600px;
    text-align: left; /* Alinear a la izquierda */
    border-radius: 10px;
    font-family: 'Libre Bodoni', serif;
    position: relative; /* Para posicionar el botón de cerrar */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: auto;
}

/* Centrar el nombre del cóctel */
.coctel-modal-content h2 {
    text-align: center;
    margin-top: 0;
}

/* Posicionar la "X" en la esquina superior derecha */
.coctel-modal-close {
    color: #333;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent; /* Fondo transparente para la "X" */
    padding: 0px;
    border: none;
    position: absolute;
    right: 10px; 
    top: 0px;
}

.coctel-modal-close:hover,
.coctel-modal-close:focus {
    color: #ff0000; /* Cambiar color al pasar el mouse */
    text-decoration: none;
    cursor: pointer;
}

/* Lista de ingredientes alineada a la izquierda */
.coctel-modal-content ul {
    text-align: left; /* Alinear lista de ingredientes a la izquierda */
    padding-left: 20px; /* Ajustar el padding para una mejor alineación */
}

.coctel-modal-content p {
    text-align: justify; /* Justificar el texto del método */
}

/* Nombre del cóctel centrado en la parte superior */
.coctel-name {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.coctel-image img {
    width: 100%;  /* Ajusta el ancho de la imagen al 100% del contenedor */
    max-width: 200px; /* Establece un ancho máximo para la imagen */
    height: auto; /* Mantén la proporción de aspecto */
    border-radius: 10px; /* Añade bordes redondeados a la imagen */
    display: block;
    margin: 0 auto; /* Centra la imagen dentro del contenedor */
}


/* Para que el contenido esté alineado en dispositivos móviles */
@media (max-width: 768px) {
    .coctel-modal-content {
        width: 95%;
        padding: 15px;
    }

    .coctel-info {
        flex-direction: column;
    }

    .coctel-image,
    .coctel-text {
        width: 100%;
    }
}

